{% extends 'index.html' %}
{% block contenido %}
<div class="container mt-4">
    <h2>Información Personal</h2>
    <div class="alert alert-info" role="alert">
        Esta página permite guardar y gestionar información de usuarios.<br>
        Las opciones <strong>Usuarios</strong> y <strong>Créditos</strong> solo están disponibles si has iniciado sesión.
    </div>
    <div class="card mb-3">
        <div class="card-body">
        <p>© 2025 Examen de Recuperación</p>
        <p>Desarrollado por: Leslie Lourdes Beatriz Velásquez Canel</p>
        <p>Carné: 0910-21-1605</p>
        <p>Tecnologías utilizadas: Django y Bootstrap</p>

        </div>
    </div>
</div>
{% endblock %}
