{% extends 'index.html' %}
{% block contenido %}
<div class="container mt-4">
    <h2>Listado de Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.perfil.username }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>
                    <a href="{% url 'Home:eliminar_usuario' cliente.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    <a href="{% url 'Home:ver_usuario' cliente.pk %}" class="btn btn-info btn-sm">Ver</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'Home:registro' %}" class="btn btn-primary">Crear Usuario</a>
</div>
{% endblock %}
